*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(56,140,190);
    font-family: sans-serif;
    height: 400px;
    width: 100%;
    background-image: url("./Rodrimar\ LOGO.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 400px;
}

