*{
    margin: 0;
    padding: 0;
}

body{
    background: rgb(56,140,190);
    font-family: sans-serif;
}

header{
    background-color: #29B6F6;
}

h1{
    display: flex;
    justify-content: center;
}