
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Titillium Web', sans-serif;
    background-color: #051630;
}
.login{
    
}

.title{
    font-size: 60px;
    margin-left: 149px;
    margin-top: -100px;
    font-family: 'Titillium Web', sans-serif;
}

.foto{
    width: 20vh;
    margin-left: -110px;
    margin-top: -30px;
}
.container{
    display:flex;
    overflow:hidden; 
}
.login-left{
    width:92%;
    height:100vh;
    background-image: url(./WhatsApp\ Image\ 2022-07-15\ at\ 15.27.06.jpeg);
    background-repeat: no-repeat;
    background-size:cover;
}
.left-container{
    margin-left:60px; 
}
.logo-left{
    margin-top: 20px;
}
.left-text p{
    margin-top:200px;
    width:70%;
    color:white;
    font-size: 40px;
}
.left-1-out{
    margin-top:50px;
    color:#A5A8AE;
} 
.left-1-out p{
    margin-top:120px;
    margin-left:60%;
    font-size:12px;
    color:#A5A8AE;
}
.login-right{
    width:58%;
    height:100vh;
    background:white;
}
.right-container{
    margin-top: 230px;
    margin-left: -100px;
}
.text-right{
    margin-top: 14vh;
}
.label-1st{
    margin-top:30px;
    margin-left:53%;
    font-size:14px
}
.label-1st label{
    color:#838691;
}
.label-1st a{
    text-decoration:none;
    color:#051630;
    
}
.label-1st select{
    border:none;
    margin-left:40px;
}
.login-write{
    margin-left:150px;
}
.login-write h1{
    margin-top:40px;
    color:#333333;
    font-weight: 600;
    font-size:35px;
}
.right-input{
    margin-top:40px;
    width:75%;
}
.right-input from{
    display: block;
}
.right-input from label{
    color:#838691;
    display: block;
    font-size:14px;
    border: none;
}
.right-input from input{
    background: #B5C2C6;
    border:none;
    color:#333333;
    margin-bottom: 10px;
    margin-top:5px;
    width:100%;
    padding:15px 2px;
    display: block;
}
.right-input from input:hover{
    border:0.5px solid #d9d8d8;
}

.right-input from input:last-child{
    position:relative;
    
}
.right-input from i{
    position:absolute;
    top:51%;
    left:85%;
    color:#333333;
}
.right-input from button{
    width:100%;
    background:#051630;
    border:none;
    padding:15px 0px;
    border-radius:4px;
    margin-top:20px;
}
.right-input from button:hover{
    box-shadow:1px 1px 20px #b8b6b6;
}
.right-input from button a{
    font-size:18px;
    text-decoration:none;
    color:white;
}
.right-input from p{
    margin-left:79%;
}
.right-input from p a{
    text-decoration:none;
    color:#838691;
    font-size:13px;
    
}

.icon{
    width: 2vh;
}

.direitos{
    margin-top: 20px;
    color:#051630;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}